# Association rules

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import files # Colab library to upload files to notebook

# Install kaggle package so that we can use the kaggle api e.g. for downloading data.  
!pip install kaggle

# Upload kaggle API key file
uploaded = files.upload()

!mkdir '/root/.kaggle'
!cp 'kaggle.json' '/root/.kaggle/.'
!chmod 600 '/root/.kaggle/kaggle.json'

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.63.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (6.1.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

Saving kaggle.json to kaggle.json

In [ ]:
!kaggle datasets download -d mashlyn/online-retail-ii-uci # Download the data from the competition.
!unzip online-retail-ii-uci.zip

Downloading online-retail-ii-uci.zip to /content
 62% 9.00M/14.5M [00:00<00:00, 84.5MB/s]
100% 14.5M/14.5M [00:00<00:00, 84.3MB/s]
Archive:  online-retail-ii-uci.zip
  inflating: online_retail_II.csv

In [ ]:
df = pd.read_csv('online_retail_II.csv')

In [ ]:
df

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France
1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France

In [ ]:
df = df.dropna()

In [ ]:
invalid_codes = [item for item in set(df['StockCode']) if not item[0].isdigit()]
invalid_codes

['CRUK',
 'BANK CHARGES',
 'M',
 'TEST002',
 'TEST001',
 'SP1002',
 'DOT',
 'ADJUST2',
 'POST',
 'D',
 'PADS',
 'ADJUST',
 'C2']

In [ ]:
df = df[~df['StockCode'].isin(invalid_codes)]

In [ ]:
df

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
1067365,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [ ]:
france_df = df[df['Country'] == 'France']
france_df

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
71,489439,22065,CHRISTMAS PUDDING TRINKET POT,12,2009-12-01 09:28:00,1.45,12682.0,France
72,489439,22138,BAKING SET 9 PIECE RETROSPOT,9,2009-12-01 09:28:00,4.95,12682.0,France
73,489439,22139,RETRO SPOT TEA SET CERAMIC 11 PC,9,2009-12-01 09:28:00,4.95,12682.0,France
74,489439,22352,LUNCHBOX WITH CUTLERY RETROSPOT,12,2009-12-01 09:28:00,2.55,12682.0,France
75,489439,85014A,BLACK/BLUE DOTS RUFFLED UMBRELLA,3,2009-12-01 09:28:00,5.95,12682.0,France
...,...,...,...,...,...,...,...,...
1067365,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [ ]:
transactions = france_df.groupby('Invoice')['StockCode'].apply(tuple)
transactions

Invoice
489439     (22065, 22138, 22139, 22352, 85014A, 85014B, 1...
489557     (21439, 16169D, 16169C, 21017, 21731, 22352, 2...
489883     (22139, 22138, 20696, 85089, 21249, 21791, 852...
490139     (22275, 85183A, 85183B, 21100, 22125, 22114, 2...
490152     (16169P, 20679, 20685, 20749, 20750, 20940, 21...
                                 ...
C579192    (23320, 23318, 22959, 22900, 22818, 22809, 224...
C579532                                             (22890,)
C579562                                       (23084, 21731)
C580263    (70007, 85175, 84821, 84819, 84817, 72586, 222...
C581316                                (23020, 21531, 23174)
Name: StockCode, Length: 701, dtype: object

In [ ]:
!pip install efficient-apriori

Collecting efficient-apriori
  Downloading efficient_apriori-2.0.1-py3-none-any.whl (14 kB)
Installing collected packages: efficient-apriori
Successfully installed efficient-apriori-2.0.1

In [ ]:
from efficient_apriori import apriori

In [ ]:
trans = transactions.to_list()

In [ ]:
trans[:10]

[('22065',
  '22138',
  '22139',
  '22352',
  '85014A',
  '85014B',
  '16161P',
  '16169N',
  '21491',
  '22333',
  '85216',
  '21493',
  '22130',
  '22064',
  '21731',
  '85232B',
  '84691',
  '20749'),
 ('21439',
  '16169D',
  '16169C',
  '21017',
  '21731',
  '22352',
  '22353',
  '20685',
  '21210',
  '21212',
  '21238',
  '85099B',
  '20719',
  '21039',
  '20712',
  '20711',
  '21432',
  '21424',
  '21426',
  '20682'),
 ('22139',
  '22138',
  '20696',
  '85089',
  '21249',
  '21791',
  '85227',
  '21429',
  '20724',
  '21935',
  '20749',
  '20750',
  '21432',
  '22211',
  '21826',
  '84670',
  '22352',
  '84671B',
  '20977',
  '20979',
  '20983',
  '20981',
  '22325',
  '21754',
  '84535A',
  '40046A'),
 ('22275',
  '85183A',
  '85183B',
  '21100',
  '22125',
  '22114',
  '21934',
  '21913',
  '21912',
  '21888',
  '21890',
  '21889',
  '21892'),
 ('16169P',
  '20679',
  '20685',
  '20749',
  '20750',
  '20940',
  '21216',
  '21429',
  '21431',
  '21524',
  '22052',
  '22321',
  '48184',
  '48195',
  '84932A',
  '84932B',
  '84932C',
  '84932D',
  '84933A',
  '84933B',
  '84933C',
  '85017A',
  '85017B',
  '16169K',
  '16169N',
  '85017C',
  '85232A',
  '85232B'),
 ('21913',
  '21559',
  '21212',
  '20983',
  '21153',
  '21791',
  '84997B',
  '21542',
  '20981',
  '21242',
  '21156',
  '21039',
  '20750',
  '21121',
  '22083',
  '22090',
  '84997C',
  '21976',
  '10002',
  '21042',
  '21244',
  '21240'),
 ('22111', '84879', '21908', '21806'),
 ('22139',
  '15056BL',
  '15056N',
  '85014A',
  '85014B',
  '20750',
  '21558',
  '21559',
  '22353',
  '22333',
  '47566',
  '10002',
  '21731',
  '22254',
  '21039'),
 ('21700',
  '85217',
  '21559',
  '22352',
  '21561',
  '21883',
  '22024',
  '22027',
  '22029',
  '22314',
  '21981',
  '21731',
  '21791',
  '21064',
  '20724',
  '20685',
  '21212',
  '21238',
  '21239',
  '21240',
  '21241',
  '84509C',
  '46775A',
  '46775D',
  '20734',
  '84854',
  '84597C',
  '84597B',
  '22197',
  '22198',
  '22302',
  '22303',
  '22117',
  '21137',
  '22181',
  '22090',
  '22319',
  '22037',
  '22312',
  '22313',
  '20682',
  '20975',
  '21719',
  '21720',
  '20686'),
 ('22355',
  '22356',
  '20719',
  '21218',
  '22180',
  '85177',
  '84932D',
  '37492A',
  '21086',
  '21094',
  '21238',
  '21731',
  '20724',
  '22348')]

In [ ]:
len(transactions)

701

Usually when we determine the support, we'll use a percentage of the total data. Let's say 5%.

In [ ]:
0.05 * len(transactions)
# A itemset needs to appear at least 35 times. This is quite unlikely from 2000 items.

35.050000000000004

In [ ]:
itemsets, rules = apriori(trans, min_support=0.05, min_confidence=0.5)
# Item set has to appears more than 35 times
# min_confidence = 0.5 means if we have an antecedent, we need the consequence to appear at least 50% of the times.

In [ ]:
len(itemsets) #how many size of item set are there, len 1, 2, and 3

3

In [ ]:
itemsets

{1: {('15056BL',): 36,
  ('20682',): 48,
  ('20712',): 52,
  ('20719',): 60,
  ('20724',): 84,
  ('20725',): 97,
  ('20726',): 74,
  ('20749',): 52,
  ('20750',): 109,
  ('21080',): 84,
  ('21086',): 87,
  ('21094',): 80,
  ('21121',): 59,
  ('21156',): 47,
  ('21212',): 82,
  ('21238',): 42,
  ('21559',): 97,
  ('21731',): 132,
  ('21843',): 38,
  ('21915',): 39,
  ('21936',): 43,
  ('21987',): 36,
  ('22027',): 57,
  ('22029',): 46,
  ('22090',): 62,
  ('22138',): 62,
  ('22139',): 59,
  ('22197',): 40,
  ('22303',): 45,
  ('22326',): 112,
  ('22328',): 79,
  ('22333',): 39,
  ('22352',): 119,
  ('22356',): 52,
  ('22367',): 37,
  ('22382',): 65,
  ('22383',): 44,
  ('22385',): 36,
  ('22423',): 69,
  ('22432',): 40,
  ('22435',): 38,
  ('22437',): 36,
  ('22467',): 36,
  ('22492',): 60,
  ('22551',): 80,
  ('22554',): 97,
  ('22555',): 51,
  ('22556',): 106,
  ('22620',): 40,
  ('22629',): 80,
  ('22630',): 60,
  ('22631',): 54,
  ('22634',): 43,
  ('22636',): 40,
  ('22659',): 49,
  ('22661',): 36,
  ('22662',): 40,
  ('22726',): 43,
  ('22727',): 42,
  ('22728',): 45,
  ('23084',): 74,
  ('23206',): 50,
  ('84997D',): 39,
  ('85099B',): 68},
 2: {('20719', '20724'): 38,
  ('20724', '22356'): 36,
  ('20725', '20726'): 36,
  ('20725', '22352'): 39,
  ('20725', '22382'): 36,
  ('20749', '20750'): 37,
  ('20750', '21731'): 40,
  ('20750', '22326'): 42,
  ('20750', '22352'): 49,
  ('21080', '21086'): 61,
  ('21080', '21094'): 61,
  ('21086', '21094'): 73,
  ('21559', '22352'): 63,
  ('21731', '22352'): 38,
  ('22326', '22328'): 49,
  ('22326', '22352'): 42,
  ('22326', '22556'): 37,
  ('22328', '22352'): 36,
  ('22352', '22556'): 36,
  ('22551', '22554'): 57,
  ('22551', '22556'): 57,
  ('22554', '22556'): 63,
  ('22555', '22556'): 40,
  ('22629', '22630'): 45,
  ('22629', '22631'): 37},
 3: {('21080', '21086', '21094'): 58, ('22551', '22554', '22556'): 41}}

In [ ]:
rules

[{20719} -> {20724},
 {22356} -> {20724},
 {22382} -> {20725},
 {20749} -> {20750},
 {21086} -> {21080},
 {21080} -> {21086},
 {21094} -> {21080},
 {21080} -> {21094},
 {21094} -> {21086},
 {21086} -> {21094},
 {22352} -> {21559},
 {21559} -> {22352},
 {22328} -> {22326},
 {22554} -> {22551},
 {22551} -> {22554},
 {22556} -> {22551},
 {22551} -> {22556},
 {22556} -> {22554},
 {22554} -> {22556},
 {22555} -> {22556},
 {22630} -> {22629},
 {22629} -> {22630},
 {22631} -> {22629},
 {21086, 21094} -> {21080},
 {21080, 21094} -> {21086},
 {21080, 21086} -> {21094},
 {21094} -> {21080, 21086},
 {21086} -> {21080, 21094},
 {21080} -> {21086, 21094},
 {22554, 22556} -> {22551},
 {22551, 22556} -> {22554},
 {22551, 22554} -> {22556},
 {22551} -> {22554, 22556}]

In [ ]:
stock_df = df[['StockCode', 'Description']].drop_duplicates(ignore_index=True).set_index('StockCode')
stock_df
# The item in each stock code not unique but quite similar

                                   Description
StockCode
85048      15CM CHRISTMAS GLASS BALL 20 LIGHTS
79323P                      PINK CHERRY LIGHTS
79323W                     WHITE CHERRY LIGHTS
22041             RECORD FRAME 7" SINGLE SIZE
21232           STRAWBERRY CERAMIC TRINKET BOX
...                                        ...
21175            GIN AND TONIC DIET METAL SIGN
23561                   SET OF 6 RIBBONS PARTY
90014C         SILVER AND BLACK ORBIT NECKLACE
85123A      CREAM HANGING HEART T-LIGHT HOLDER
23843              PAPER CRAFT , LITTLE BIRDIE

[5315 rows x 1 columns]

In [ ]:
for i, rule in enumerate(rules):
    print('Rule {}'.format(i+1))

    print(rule.lhs, '->', rule.rhs)

    lhs = '+'.join(stock_df.loc[list(rule.lhs)].values.reshape(-1)) # antecedent
    rhs = '+'.join(stock_df.loc[list(rule.rhs)].values.reshape(-1)) # consequent
    # antecedent -> consequent
    print('{} -> {}'.format(lhs, rhs))

    print('Supp = {}, Conf = {}, Lift = {}, Conv = {}'.format(rule.support, rule.confidence, rule.lift, rule.conviction))
    print()

Rule 1
('20719',) -> ('20724',)
WOODLAND CHARLOTTE BAG -> RED SPOTTY CHARLOTTE BAG+RED RETROSPOT CHARLOTTE BAG
Supp = 0.05420827389443652, Conf = 0.6333333333333333, Lift = 5.285317460317461, Conv = 2.400466858970066

Rule 2
('22356',) -> ('20724',)
CHARLOTTE BAG , PINK/WHITE SPOTS+CHARLOTTE BAG PINK WITH WHITE SPOTS+CHARLOTTE BAG PINK POLKADOT -> RED SPOTTY CHARLOTTE BAG+RED RETROSPOT CHARLOTTE BAG
Supp = 0.05135520684736091, Conf = 0.6923076923076923, Lift = 5.777472527472527, Conv = 2.8605563387773714

Rule 3
('22382',) -> ('20725',)
LUNCHBAG SPACEBOY DESIGN +LUNCH BAG SPACEBOY DESIGN  -> LUNCH BAG RED SPOTTY+LUNCH BAG RED RETROSPOT
Supp = 0.05135520684736091, Conf = 0.5538461538461539, Lift = 4.00253766851705, Conv = 1.931231241674625

Rule 4
('20749',) -> ('20750',)
ASSORTED COLOUR MINI CASES ->  RED/WHITE DOT MINI CASES+RED/WHITE DOT MINI CASES+RED RETROSPOT MINI CASES
Supp = 0.052781740370898715, Conf = 0.7115384615384616, Lift = 4.576040931545519, Conv = 2.9276271890900745

Rule 5
('21086',) -> ('21080',)
SET/6 RED SPOTTY PAPER CUPS -> SET/20 RED SPOTTY PAPER NAPKINS +SET/20 RED RETROSPOT PAPER NAPKINS
Supp = 0.08701854493580599, Conf = 0.7011494252873564, Lift = 5.851258894362343, Conv = 2.9451881828367066

Rule 6
('21080',) -> ('21086',)
SET/20 RED SPOTTY PAPER NAPKINS +SET/20 RED RETROSPOT PAPER NAPKINS  -> SET/6 RED SPOTTY PAPER CUPS
Supp = 0.08701854493580599, Conf = 0.7261904761904762, Lift = 5.851258894362343, Conv = 3.1989083800555402

Rule 7
('21094',) -> ('21080',)
SET/6 RED SPOTTY PAPER PLATES -> SET/20 RED SPOTTY PAPER NAPKINS +SET/20 RED RETROSPOT PAPER NAPKINS
Supp = 0.08701854493580599, Conf = 0.7625, Lift = 6.363244047619047, Conv = 3.7059839171235387

Rule 8
('21080',) -> ('21094',)
SET/20 RED SPOTTY PAPER NAPKINS +SET/20 RED RETROSPOT PAPER NAPKINS  -> SET/6 RED SPOTTY PAPER PLATES
Supp = 0.08701854493580599, Conf = 0.7261904761904762, Lift = 6.363244047619047, Conv = 3.2353780195675736

Rule 9
('21094',) -> ('21086',)
SET/6 RED SPOTTY PAPER PLATES -> SET/6 RED SPOTTY PAPER CUPS
Supp = 0.10413694721825963, Conf = 0.9125, Lift = 7.352442528735632, Conv = 10.01018941076596

Rule 10
('21086',) -> ('21094',)
SET/6 RED SPOTTY PAPER CUPS -> SET/6 RED SPOTTY PAPER PLATES
Supp = 0.10413694721825963, Conf = 0.8390804597701149, Lift = 7.352442528735632, Conv = 5.505094728373831

Rule 11
('22352',) -> ('21559',)
LUNCHBOX WITH CUTLERY RETROSPOT +LUNCH BOX WITH CUTLERY RETROSPOT  -> STRAWBERRY LUNCHBOX WITH CUTLERY+STRAWBERRY LUNCH BOX WITH CUTLERY
Supp = 0.0898716119828816, Conf = 0.5294117647058824, Lift = 3.8259551243177685, Conv = 1.8309557735699893

Rule 12
('21559',) -> ('22352',)
STRAWBERRY LUNCHBOX WITH CUTLERY+STRAWBERRY LUNCH BOX WITH CUTLERY -> LUNCHBOX WITH CUTLERY RETROSPOT +LUNCH BOX WITH CUTLERY RETROSPOT
Supp = 0.0898716119828816, Conf = 0.6494845360824743, Lift = 3.8259551243177685, Conv = 2.3686330384719336

Rule 13
('22328',) -> ('22326',)
ROUND SNACK BOXES ,SET 4, FRUITS +ROUND SNACK BOXES SET OF 4 FRUITS  -> ROUND SNACK BOXES ,SET4, WOODLAND +ROUND SNACK BOXES SET OF4 WOODLAND
Supp = 0.06990014265335236, Conf = 0.620253164556962, Lift = 3.8821202531645573, Conv = 2.2126010402980674

Rule 14
('22554',) -> ('22551',)
PLASTERS IN TIN WOODLAND ANIMALS -> PLASTERS IN TIN SPACEBOY
Supp = 0.08131241084165478, Conf = 0.5876288659793815, Lift = 5.14909793814433, Conv = 2.148252491224154

Rule 15
('22551',) -> ('22554',)
PLASTERS IN TIN SPACEBOY -> PLASTERS IN TIN WOODLAND ANIMALS
Supp = 0.08131241084165478, Conf = 0.7125, Lift = 5.14909793814433, Conv = 2.996960852938686

Rule 16
('22556',) -> ('22551',)
PLASTERS IN TIN CIRCUS PARADE  -> PLASTERS IN TIN SPACEBOY
Supp = 0.08131241084165478, Conf = 0.5377358490566038, Lift = 4.71191037735849, Conv = 1.9163876636175987

Rule 17
('22551',) -> ('22556',)
PLASTERS IN TIN SPACEBOY -> PLASTERS IN TIN CIRCUS PARADE
Supp = 0.08131241084165478, Conf = 0.7125, Lift = 4.71191037735849, Conv = 2.952304151487613

Rule 18
('22556',) -> ('22554',)
PLASTERS IN TIN CIRCUS PARADE  -> PLASTERS IN TIN WOODLAND ANIMALS
Supp = 0.0898716119828816, Conf = 0.5943396226415094, Lift = 4.2951760357907025, Conv = 2.124008885717194

Rule 19
('22554',) -> ('22556',)
PLASTERS IN TIN WOODLAND ANIMALS -> PLASTERS IN TIN CIRCUS PARADE
Supp = 0.0898716119828816, Conf = 0.6494845360824743, Lift = 4.2951760357907025, Conv = 2.4215406492969076

Rule 20
('22555',) -> ('22556',)
PLASTERS IN TIN STRONGMAN+PLASTERS IN TIN MR STRONG  -> PLASTERS IN TIN CIRCUS PARADE
Supp = 0.05706134094151213, Conf = 0.7843137254901961, Lift = 5.186829448760637, Conv = 3.935287233732271

Rule 21
('22630',) -> ('22629',)
DOLLY GIRL LUNCH BOX -> SPACEBOY LUNCH BOX
Supp = 0.06419400855920114, Conf = 0.75, Lift = 6.571875, Conv = 3.5435092582938656

Rule 22
('22629',) -> ('22630',)
SPACEBOY LUNCH BOX  -> DOLLY GIRL LUNCH BOX
Supp = 0.06419400855920114, Conf = 0.5625, Lift = 6.571875, Conv = 2.090075397708929

Rule 23
('22631',) -> ('22629',)
CIRCUS PARADE LUNCHBOX +CIRCUS PARADE LUNCH BOX  -> SPACEBOY LUNCH BOX
Supp = 0.052781740370898715, Conf = 0.6851851851851852, Lift = 6.003935185185185, Conv = 2.8139632368448635

Rule 24
('21086', '21094') -> ('21080',)
SET/6 RED SPOTTY PAPER CUPS+SET/6 RED SPOTTY PAPER PLATES -> SET/20 RED SPOTTY PAPER NAPKINS +SET/20 RED RETROSPOT PAPER NAPKINS
Supp = 0.08273894436519258, Conf = 0.7945205479452054, Lift = 6.630463144161774, Conv = 4.283499741398047

Rule 25
('21080', '21094') -> ('21086',)
SET/20 RED SPOTTY PAPER NAPKINS +SET/20 RED RETROSPOT PAPER NAPKINS +SET/6 RED SPOTTY PAPER PLATES -> SET/6 RED SPOTTY PAPER CUPS
Supp = 0.08273894436519258, Conf = 0.9508196721311475, Lift = 7.66120218579235, Conv = 17.80979516806244

Rule 26
('21080', '21086') -> ('21094',)
SET/20 RED SPOTTY PAPER NAPKINS +SET/20 RED RETROSPOT PAPER NAPKINS +SET/6 RED SPOTTY PAPER CUPS -> SET/6 RED SPOTTY PAPER PLATES
Supp = 0.08273894436519258, Conf = 0.9508196721311475, Lift = 8.33155737704918, Conv = 18.012838435450774

Rule 27
('21094',) -> ('21080', '21086')
SET/6 RED SPOTTY PAPER PLATES -> SET/20 RED SPOTTY PAPER NAPKINS +SET/20 RED RETROSPOT PAPER NAPKINS +SET/6 RED SPOTTY PAPER CUPS
Supp = 0.08273894436519258, Conf = 0.725, Lift = 8.33155737704918, Conv = 3.3199325517973137

Rule 28
('21086',) -> ('21080', '21094')
SET/6 RED SPOTTY PAPER CUPS -> SET/20 RED SPOTTY PAPER NAPKINS +SET/20 RED RETROSPOT PAPER NAPKINS +SET/6 RED SPOTTY PAPER PLATES
Supp = 0.08273894436519258, Conf = 0.6666666666666666, Lift = 7.66120218579235, Conv = 2.7389443569757486

Rule 29
('21080',) -> ('21086', '21094')
SET/20 RED SPOTTY PAPER NAPKINS +SET/20 RED RETROSPOT PAPER NAPKINS  -> SET/6 RED SPOTTY PAPER CUPS+SET/6 RED SPOTTY PAPER PLATES
Supp = 0.08273894436519258, Conf = 0.6904761904761905, Lift = 6.630463144161774, Conv = 2.894326776559336

Rule 30
('22554', '22556') -> ('22551',)
PLASTERS IN TIN WOODLAND ANIMALS+PLASTERS IN TIN CIRCUS PARADE  -> PLASTERS IN TIN SPACEBOY
Supp = 0.05848787446504993, Conf = 0.6507936507936508, Lift = 5.702579365079366, Conv = 2.5368304946158706

Rule 31
('22551', '22556') -> ('22554',)
PLASTERS IN TIN SPACEBOY+PLASTERS IN TIN CIRCUS PARADE  -> PLASTERS IN TIN WOODLAND ANIMALS
Supp = 0.05848787446504993, Conf = 0.7192982456140351, Lift = 5.1982275275818415, Conv = 3.069543498337219

Rule 32
('22551', '22554') -> ('22556',)
PLASTERS IN TIN SPACEBOY+PLASTERS IN TIN WOODLAND ANIMALS -> PLASTERS IN TIN CIRCUS PARADE
Supp = 0.05848787446504993, Conf = 0.7192982456140351, Lift = 4.756868586560742, Conv = 3.0238052674017304

Rule 33
('22551',) -> ('22554', '22556')
PLASTERS IN TIN SPACEBOY -> PLASTERS IN TIN WOODLAND ANIMALS+PLASTERS IN TIN CIRCUS PARADE
Supp = 0.05848787446504993, Conf = 0.5125, Lift = 5.702579365079366, Conv = 1.866930022872181